$arrowidth: 1em;
$arrowstrech:2;
$arrowcolor:lightgray;
$arrowcolorhover: rgba(230, 230, 230, 0.9);
$arrowborderradius: 4px;

ul.breadcrumb_bkit {
  list-style: none;
  margin-left: $arrowidth;
  display: flex;
  flex-wrap:wrap;
  font-size: 8pt;
  li {
    border-left: 1px solid transparent;
    display: block;
    margin-top:1px;
    margin-left: -$arrowidth;
    overflow: hidden;
    span {
      padding-left: $arrowidth;
      padding-right: $arrowidth;
      position: relative;
      >*{
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: .5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: inherit;
        display: inline-block;
        background-color: $arrowcolor;
      }
      a{
        text-decoration: none;
        cursor: pointer;
      }
      &:after,&:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: $arrowstrech*$arrowidth solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: $arrowstrech*$arrowidth solid transparent;
        border-left: $arrowidth solid $arrowcolor;
        position: absolute;
        top: 50%;
        margin-top: -$arrowstrech*$arrowidth;
        z-index: 2;
      }
      &:after{
        right: 0;
      }
      &:before {
        left: 0;
        border-color: $arrowcolor;
        border-left-color: transparent;
        z-index: 1;
      }
      &:hover{
        &:before{
          border-color: $arrowcolorhover;
          border-left-color: transparent;
        }
        &:after{
          border-left-color: $arrowcolorhover;
        }
        a{
          background-color: $arrowcolorhover;
        }
      }
    }
  }
  li:last-child:not(:first-child){
    padding-right: 1em;
    :hover, span * {
      background-color: transparent;
    }
    :after, :before {
      display: none;
    }
  }
}