
<div layout="row" layout-align="center stretch">
  <div layout="column" layout-align="center center">
     <md-icon>keyboard_arrow_left</md-icon>
  </div>
  <div layout="column">
    <div layout="row" layout-align="center center">
      <div class="day" layout="column" ng-repeat="day in week" layout-align="start stretch" ng-click="onDayClick($event)" flex>
          <header>{{day.format('DD')}}</header>
      </div>
    </div>
  </div>
  <div layout="column" layout-align="center center">
    <md-icon>keyboard_arrow_right</md-icon>
  </div>
</div>
