<div layout="row" layout-align="start stretch" flex>
  <div layout="column" layout-align="center center" flex>
    <md-button mouse-hold="scroll('left', increment)">
      <md-icon>keyboard_arrow_left</md-icon>
    </md-button>
  </div>
  <div class="spinner" layout="column" flex="70" scroll-control>
    <div layout="row" layout-align="end center" ng-style="{'min-width': overflowedElemWidth + 'px'}">
      <div class="cell" ng-class="{'selected': $index === selectedCell}" ng-repeat="bak in content | orderBy:'-'" ng-click="handleCellClick($event, $index, bak)" layout="column" layout-align="center center" flex>

        <span>{{bak.time.format('Do MMMM')}} at {{bak.time.format('HH:mm:ss')}}</span>

      </div>
    </div>
  </div>
  <div layout="column" layout-align="center center" flex>
    <md-button mouse-hold="scroll('right', increment)">
      <md-icon>keyboard_arrow_right</md-icon>
    </md-button>
  </div>
</div>
