
html {
  height: 100%;
}

body {
  width:100%;
  display: auto;
  align-items: left;
  justify-content: left;
  color: #777777;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: center;
}

a {
  color: #67a9fb;
  text-decoration: none;
}
a:hover {
  color: #7fff00;
}
#app{
  padding-right:4em;
}
.tree{
  $line-height: 2em;
  $li-ident: 1.3em;
  text-align: left;    
  width:100%;
  
  ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
    position:relative;
    &::before{
      border-width: 0;
      border-style: dotted;
      border-color: #777777;
      position:absolute;
      display:block;
      content:"";
    }
  }
  ul{
    &::before {
      content:"";
      top:-.3 * ($line-height / 2);
      bottom:$line-height / 2;      /*stop at half of last li */
      left: $li-ident / 4;
      border-left-width:1px;
    }
  }
  ul.directories + ul.files::before {
    top:-1 * ($line-height / 2);  
  }
  li {
    padding-left: $li-ident;            /* indentation = .5em */
    line-height:$line-height;  
    cursor: pointer;
    &::before {
      width: .5 * $li-ident;          /* 50% of indentation */
      height:0;
      border-top-width:1px;
      margin-top:-1px;                  /* border top width */
      top:$line-height / 2;              
      left:$li-ident / 4;
    }
    >div {
      width:100%;
      box-sizing: border-box;
      display:flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      &:hover{
           background:#eeeeee;
           border-radius:7px;
           padding-right:7px;
           padding-left:7px;
      }
      *{
        display:flex;
        flex-wrap:nowrap;
        align-items: center;
        &:not(:first-child):not(a){
          padding-left: 4px;
        }
      } 
      .text{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
      }
      a{
        padding-left:5px;
      }
    }
  }
}