<div class="accordion" layout="row" layout-align="start start">
    <section class="cell" ng-class="{'selected': $index === selectedCell}" ng-repeat="bak in content | orderBy:'-'" ng-click="handleCellClick($event, $index, bak)" >
      <h2 class="spine">{{bak.time.local().fromNow(true)}}</h2>
      <time>
        <span class="day">{{bak.time.local().format('dddd')}}</span>
        <span class="time">{{bak.time.local().format('HH:mm')}}</span>
        <span class="date">{{bak.time.local().format('YYYY/MM/DD')}}</span>
      </time>
    </section>
</div>
