<div layout="column" layout-align="space-around center">

  <div layout="row" layout-align="space-between end">
    <img src="images/logo/512x512.png">
    <calendar-md flex layout layout-fill
      calendar-direction="direction"
      on-prev-month="prevMonth"
      on-next-month="nextMonth"
      on-day-click="dayClick"
      title-format="'MMMM y'"
      ng-model='selectedDate'
      week-starts-on="1"
      data-start-month="10"
      data-start-year="2016"
      tooltips="tooltips"
      day-format="dayFormat"
      day-label-format="'EEE'"
      day-label-tooltip-format="'EEEE'"
      day-tooltip-format="'fullDate'"
      day-content="setDayContent"
      disable-future-selection="true">
    </calendar-md>
  </div>
</div>
