<div layout="column" layout-align="start center" class="main">

  <div class="top-header" layout="row" layout-align="space-between center">
    <img src="images/logo/512x512.png" height="80" width="80">
    <div class="filters" layout="column" layout-align="center stretch" ng-show="main.backups.length > 0" flex>
      <ul class="breadcrumb" layout="row" layout-align="start center">
        <li><span ng-click="main.reset()">Start</span></li>
        <li><span ng-click="main.reset(main.selectedComputer)">
          {{main.selectedComputer.name}}
        </span></li>
        <li><span>
          {{main.selectedDrive.name}}
        </span></li>
        <li><span>
          {{main.selectedBackup.time.local().format('LLLL')}}
        </span></li>
      </ul>
      <calendar class="calendar" content="main.backups" on-cell-click="main.onSelectBackup"></calendar>
    </div>

  </div>

  <div class="computer-grid"  ng-if="!main.selectedComputer" layout="column" layout-align="center center" layout-wrap>
    <div class="box" ng-repeat="pc in main.computers" ng-click="main.selectComputer(pc)">
      <div class="name">{{pc.name}}</div>
      <div class="uuid">{{pc.uuid}}</div>
      <!-- <div class="notused"></div> -->
      <div class="components" layout="column" layout-align="end end" layout-wrap>
        <div class="drive" ng-repeat="drive in pc.drives|orderBy:'name':true" 
          ng-click="main.processSelection(drive,pc)"
          layout="column" layout-align="center center">
          {{drive.name}}
        </div>
      </div>
    </div>
  </div>

  <div class="drives-grid box" ng-if="main.selectedComputer && !main.selectedDrive" layout="row" layout-align="end center">
    <div class="name">{{main.selectedComputer.name}}</div>
    <div class="drive" ng-repeat="drive in main.selectedComputer.drives" ng-click="main.processSelection(drive)"
        layout="column" layout-align="center center" >
      <span>{{drive.name}}</span>
    </div>
    <div class="error-message" ng-if="main.selectedComputer.drives.length === 0" layout="column" layout-align="center center">
      <span>No drives have been backed up</span>
      <span ng-click="main.reset()" style="cursor: pointer;">Go Back</span>
    </div>
  </div>

  <div class="explorer" ng-if="main.explorer">
    <div class="preloader" ng-if="main.loading"></div>
    <div class="sidebar">
        <div layout="column" layout-align="start start">
           <div ng-repeat="folder in main.explorer.folders" ng-include="'fs-tree'" style="width: 100%;"></div>
        </div>
    </div>
    <div class="main-panel" layout="column" layout-align="start start">
      <div class="no-files-msg" ng-show="main.currentFolder.files.length === 0"><!-->No files found--></div>
      <div class="file selectable-row" ng-repeat="file in main.currentFolder.files" layout="row" layout-align="space-between center">
        <span><a download="file" href="{{main.buildUrl(file, 'bkit')}}">{{file}}</a></span>
        <span layout="row" layout-align="space-between center">
          <md-button class="md-icon-button"><a download="file" href="{{main.buildUrl(file, 'download')}}"><md-icon>file_download</md-icon></a></md-button>
          <md-button class="md-icon-button"><a target="_blank" href="{{main.buildUrl(file, 'view')}}"><md-icon>visibility</md-icon></a></md-button>
          <md-button class="md-icon-button"><a download="file" href="{{main.buildUrl(file, 'bkit')}}"><md-icon>restore</md-icon></a></md-button>
        </span>
      </div>
      </div>
    </div>
  </div>


  <script type="text/ng-template" id="fs-tree">
    <div class="folder selectable-row" ng-class="{'selected': folder.selected}" layout="row" layout-align="space-between center">
      <div ng-click="main.loadContent(folder)" flex>
        <md-button class="md-icon-button" ng-if="!folder.opened"><md-icon>folder</md-icon></md-button>
        <md-button class="md-icon-button" ng-if="folder.opened" ng-click="folder.opened = false; $event.stopPropagation();"><md-icon>folder_open</md-icon></md-button>
        <span>{{folder.name}}</span>
      </div>
      <div><a download="file" href="{{main.buildUrl(file, 'bkit')}}"><md-icon>restore</md-icon></a></div>
    </div>
    <div ng-if="folder.folders.length > 0 || folder.opened">
        <div ng-repeat="folder in folder.folders" ng-include="'fs-tree'" style="padding-left: 1em;"></div>
    </div>
</script>


</div>
